{% extends 'base.html.twig' %}

{% block body %}
<h1>404. Route not found.</h1>

<p style="font-size: larger">
  How did you get here? No worries, here is a link to get you back on track.
</p>
<div>
  <a
    href="https://www.caguilera.dev/"
    style="font-size: larger; text-decoration: none; font-weight: 600"
  >
    Portal Back
  </a>
</div>
{% endblock %}
