body {
  @apply bg-slate-100 text-primary-600 dark:bg-primary-500 dark:text-slate-100;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  @apply bg-primary-500 dark:bg-alternate-600;
}
