body {
  @apply bg-slate-100 text-primary-dark dark:bg-primary dark:text-slate-100;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  @apply bg-primary dark:bg-alternate-dark;
}
